<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     <a class ="navbar-brand" class="aaronlogo"><img src="/assets/logo.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://www.linkedin.com/in/aaron-chan-2a992a106/" class="logo"><img src="/assets/LINKEDIN.jpg"></a></li>
        <li><a href="https://github.com/aaronleechan" class="logo"><img src="/assets/GITHUB.jpg"></a></li>
        <li><a href="mailto:aaronchan.phyo@gmail.com" class="logo"><img src="/assets/mail.jpeg"></a>
</li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>