<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	


</head>
<body>

	<div class="body container">
			<center> 
			
				<h1>
					<span class ="glyphicon glyphicon-user" class="personalname"> Aaron Li Chan </span>

					<p></p>

					<p class ="glyphicon glyphicon-education" class="majorinfo"> Software Engineering </p>

					<p id="schoollogo" class="majorinfo"><img src="/assets/sjsu.png"> San Jose State University</p>
				</h1>

			</center>
	</div>


<center>
	<div class ="aboutmeContainer">
	
		<div class ="skillandAbilities">
			
				<div id ="projectname">Projects</div>			

		</div>
	</div>
	<%= render 'softwareEngineeringI' %>
	<%= render 'softwareEngineeringII' %>
<center>


</body>
</html>

